@import '/styles/Styles.scss';

/* Root Styles */

.root {
  flex: 1;
  width: 100%;
  min-width: 0;
  min-height: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  white-space: nowrap;
}

/* Container Styles */

.body {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $space-huge;
}

.links {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.graphic {
  flex: 1;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  gap: $space-large;
}

/* Link Styles */

.linkCard {
  width: auto;
  display: flex;
  align-items: center;
  white-space: nowrap;
  background-color: $ui-white;
  padding: $space-medium;
  border-radius: $br-small;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  #logo {
    width: 24px;
    height: 24px;
  }

  #textContainer {
    transition: width cubic-bezier(0, .15, .15, 1) 200ms;
    overflow: hidden;
  }

  #text {
    color: $ui-navy;
    position: relative;
    width: fit-content;
    padding-left: $space-medium;
  }
}

/* Graphic Shapes */

.image {
  width: 80%;
  max-width: 240px;
  max-height: 320px;
  border-radius: $br-large;
  overflow: hidden;
}

.column {
  height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $space-large;

  #leftTop {
    height: 20%;
  }

  #leftBottom {
    height: 30%;
  }

  #rightTop {
    height: 50%;
  }

  #rightMiddle {
    height: 20%;
  }
}

/* Mobile Styles */

@media only screen and (max-width: $mob-width) {
  .root {
    height: 100%;
    flex-direction: column-reverse;
    align-items: center;
    gap: $space-small;
  }

  .body {
    width: 100%;
    justify-content: flex-start;
  }

  .graphic {
    justify-content: center;
  }
}