@import '/styles/Styles.scss';

/* Root Styles */

.root {
  flex: 1;
  width: 100%;
  min-width: 0;
  min-height: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: $space-large;
  position: relative;
}

/* Text Styles */

#text {
  flex: 1;
  width: 100%;
  min-width: 0;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  gap: $space-small;
}

#name {
  font-size: 3rem;
}

#subtitle {
  margin-top: $space-small;
}

/* Graphic Styles */

#graphic {
  position: relative;
}

.circle {
  position: absolute;
}

// Positions top shape
#top {
  left: 60%;
  top: -25%;
}

// Positions bottom shape
#bottom {
  left: 10%;
  top: 90%;
}

#photo {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  overflow: hidden;
}

/* Mobile Styles */

@media only screen and (max-width: $mob-width) {
  .root {
    height: 50%;
    flex-direction: column;
    gap: 64px;
  }

  #graphic {
    top: 0;
    left: 0;
    position: absolute;
    transform: translate(50%, 40%);
    z-index: -50;
  }

  #title {
    font-size: 2rem;
  }

  #name {
    font-size: 2.5rem;
  }

  #text {
    width: 90%;
    white-space: break-spaces;
  }



  #bottom {
    left: 5%;
    top: 85%;
  }

  #subtitle {
    width: 80%;
    font-size: 0.9em;
  }
}