@import '/styles/Styles.scss';

/* Root Styles */

.root {
  flex: 1;
  width: 100%;
  min-width: 0;
  min-height: 0;
  display: flex;
  align-items: center;
  gap: $space-large;
}

/* Text Styles */

#text {
  flex: 1;
  width: 0;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: $space-small;
}

#name {
  font-size: 3rem;
}

#subtitle {
  margin-top: $space-small;
}

/* Graphic Styles */

#graphic {
  position: relative;
}

.circle {
  position: absolute;
  border-radius: 50%;
}

// Positions top shape
#top {
  left: 60%;
  top: -25%;
}

// Positions bottom shape
#bottom {
  left: 10%;
  top: 90%;
}

#photo {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  overflow: hidden;
}

/* Mobile Styles */

@media only screen and (max-width: $max-width) {}