@import '/styles/Styles.scss';

/* Root Styles */

.root {
  flex: 1;
  width: 100%;
  min-width: 0;
  min-height: 0;
  display: flex;
  flex-direction: column;
  gap: $space-large;
}

.emphasized {
  width: 100%;
  min-width: 0;
  display: flex;
  justify-content: space-between;
  gap: $space-large;
}

/* Card Styles */

.card {
  width: 100%;
  min-width: 0;
  display: flex;
  flex-direction: column;
  background-color: $ui-white;
  border-radius: $br-small;
  padding: $space-medium;
  gap: $space-medium;

  .row {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: $space-medium;
  }

  .image {
    width: auto;
    height: 24px;
  }

  #name {
    color: $ui-navy;
    font-size: 1.1rem;
    font-weight: bold;
  }

  #percentage {
    width: 100%;
    border-radius: $br-small;
    background-color: $ui-navy;
    color: $ui-red;
    transition: all ease-out 250ms;
  }
}

/* Marquee Styles */

.marquee {
  width: 100%;
  height: $space-huge;
  box-shadow:
    inset 8px 0 8px 0 $ui-navy,
    inset -8px 0 8px 0 $ui-navy;
}

.track {
  z-index: -1;
}

.other {
  margin-right: $space-large;
  font-size: 1.1rem;
}

/* Mobile Styles */

@media only screen and (max-width: $mob-width) {

  .root {
    height: 100%;
    padding: 10vh 0;
    align-items: flex-start;
    box-sizing: border-box;
  }

  .emphasized {
    align-items: center;
    flex-direction: column;
    padding: $space-medium $space-large;
  }

}