@import '../../styles/Styles.scss';

@keyframes loading {
  0% {
    background-position: 160% 0;
  }
  100% {
    background-position: -40% 0;
  }
}

.root {
  width: 100%;
  height: fit-content;
  display: flex;
  position: relative;
  box-sizing: border-box;

  &.loading {
    animation: unset;
    .textContainer {
      .name {
        background-color: $black-opac-2;
      }

      .detailsContainer {
        background-color: $white-opac-3;
        box-shadow: unset;
      }

      .description {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }

      .placeholder {
        height: 1.2em;
        width: 100%;
        height: 100px;
        background-color: $black-opac-2;
      }

      .created {
        width: 120px;
        height: 1.2em;
        padding: 4px 16px;
        background-color: $black-opac-2;
      }

      .detailsContainer::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: linear-gradient(
          90deg, 
          $transparent 30%, 
          $white-opac-3 50%, 
          $transparent 70%, 
        );
        background-size: 200% 100%;
        animation: loading 1.2s infinite;
      }
    }
  }
}

.root > *:last-child {
  margin-bottom: 32px;
}

.imageContainer {
  width: calc(20% + 16px);

  .imageWrapper {
    border: 8px solid;
    box-shadow: 0px 4px 8px $black-opac-4;
    aspect-ratio: 4/3;
    overflow: hidden;
    position: relative;
    transition: scale ease-in-out 100ms;

    &:hover {
      scale: 1.05;
    }

    .thumbnail {
      width: auto;
      height: 100%;
      position: absolute;
      z-index: 0;
    }
  }

  .hoverOverlay {
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: $black-opac-4;
    z-index: 1;
    opacity: 0;
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity ease-in-out 100ms;


    &:hover {
      opacity: 1;
    }

    .icon {
      font-size: 3em;
      color: $white-opac-6;
    }
  }

  &.loading {
    .imageWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      border: unset;
      background-color: $black-opac-2;
      box-shadow: unset;

      &:hover {
        scale: unset;
      }
    }
  }
}

.textContainer {
  flex: 1;
  position: relative;
  top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-sizing: border-box;
}

.name {
  width: fit-content;
  padding: 8px 16px;

  h3 {
    font-size: 2.5em;
  }
}

.detailsContainer {
  left: -32px;
  width: calc(100% + 16px);
  position: relative;
  background-color: $white-opac-5;
  backdrop-filter: blur(8px);
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: 0px 4px 16px $black-opac-4;
  box-sizing: border-box;
  opacity: 0;
  animation: $animate-fade-slide-in;
}

.footer {
  width: 100%;
  display: flex;

  .alignLeft, .alignRight {
    flex: 1;
    display: flex;
    gap: 8px;
    align-items: center;
  }

  .alignRight {
    justify-content: flex-end;
  }

  .created {
    font-size: 1.2em;
    font-weight: 600;
    padding: 4px 16px;
  }
}

.link {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;

  .icon {
    font-size: 1.2em;
  }

  * {
    font-size: 1.2em;
    font-weight: 600;
  }
}

/**
TODO
  On hover:
    shrink description field
    scale thumbnail to ~50/60%
    show controls, start slideshow
  Add transition to border color change
  Add project date to footer
    sort by project date
  Create thumbnails
    Gather slideshow pics
    Add to Azure blob store
  Configure api to fetch projects from mongo
  Configure app to get project data from server
  Replace img with NextJS Ima
**/

/**
TODO Loading State
- Thumbnail displays loading spinner
  - Still includes secondary color
- Text box same white color
  - Divs for placeholder text lines
  - Same color on year label
  - Div for placeholder link
- All elements use heavy ease out cubic bez
  - Strobe left to right
  - Use mask to keep in sync
**/

/**
TODO Gallery
- Opening; projects list slides down off page
  - Opacity transitions to 0
  - Gallery component pops in, taking page
- Closing; gallery component fades out
  - Projects slide back up into view
  - Opacity transitions to 1
- Optional; stagger projects out/into view
**/