@import '/styles/Styles.scss';

/* Root Styles */

.root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $space-medium 0px;
}

.navButton {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: $space-small;
}