@import './Styles.scss';

.root {
  width: 100%;
  gap: 32px;
}

.card {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.imageWrapper {
  width: 45%;
  height: auto;
  aspect-ratio: 4/3;
  border: solid 8px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: -1;

  .image {
    height: 100%;
    width: auto;
  }
}

.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  transform: translateY(16px);

  .contact {
    width: calc(100% + 32px);
    background-color: $white-opac-5;
    backdrop-filter: blur(8px);
    box-shadow: 0px 4px 16px $black-opac-4;
    box-sizing: border-box;
    padding: 32px;
    z-index: 1;
    transform: translateX(-24px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    .indent {
      display: flex;
      flex-direction: column;
      margin-left: 16px;
    }
  }

  .name {
    font-size: 2.4rem;
  }

  .larger {
    font-size: 1.2rem;
  }
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.divider {
  width: 90%;
  height: 1px;
  background-color: $black-opac-4;
  filter: brightness(80%);
}

/* Action Button */

.label {

  &.smaller {
    font-size: 1.8em;
  }
}

.links {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 32px 8px;
  box-sizing: border-box;
  gap: 16px;
}

$action-base-height: calc(48px + 16px);

.action {
  flex: 1 0 320px;
  max-width: 320px;
  height: auto;
  border: none;
  background-color: transparent;
  box-sizing: content-box;
  position: relative;
  display: inline;
  padding: 0;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &:hover {
    .iconContainer {
      background-color: white;
      .icon {
        color: $black-opac-8;
      }
    }
  }
}

@keyframes hide {
  0% {
    opacity: 1;
    scale: 1;
  }
  100% {
    opacity: 0;
    scale: 0.8;
  }
}

@keyframes show {
  0% {
    opacity: 0;
    scale: 0.8;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

$hover-tx: 250ms;
$row-h: 48px;

.iconRow {
  width: $row-h;
  height: $row-h;
  position: relative;
  z-index: 10;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  transition: width ease-in-out $hover-tx;
}

.iconContainer {
  width: $row-h;
  height: $row-h;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  transition: scale ease-in-out $hover-tx,
    background-color ease-in-out $hover-tx;
  position: relative;
  box-shadow: 0px 4px 8px $black-opac-2;
  backdrop-filter: blur(8px);
}

.iconWrapper {
  top: 0;
  left: 0;
  position: absolute;
  padding: 2px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity ease-in-out $hover-tx,
    scale ease-in-out $hover-tx;
  
  &.hidden {
    animation: hide ease-in-out $hover-tx forwards;
  }
  &.visible {
    animation: show ease-in-out $hover-tx forwards;
  }

  .icon {
    width: 70%;
    height: 70%;
    transition: color ease-in-out $hover-tx,
  }
}

$row-y: calc(-1 * $row-h + 16px);

.labelRow {
  width: 100%;
  height: $row-h;
  z-index: 0;
  position: relative;
  box-sizing: border-box;
  margin-top: $row-y;
}

.labelContainer {
  width: calc(100% - 36px);
  height: 100%;
  z-index: -10;
  box-sizing: content-box;
  background-color: $white-opac-5;
  backdrop-filter: blur(8px);
  box-shadow: 0px 4px 8px $black-opac-2;
  transition: background-color ease-in-out $hover-tx,
    box-shadow ease-in-out $hover-tx,
    transform ease-in-out $hover-tx,
    filter ease-in-out $hover-tx;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &.hover {
    padding-right: 16px;
  }
  &.nohover {
    padding-left: 16px;
  }
}

.labelWrapper {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 16px 0px;
  transition: opacity ease-in-out $hover-tx,
    scale ease-in-out $hover-tx;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  
  &.hidden {
    animation: hide ease-in-out $hover-tx forwards;
  }
  &.visible {
    animation: show ease-in-out $hover-tx forwards;
  }
  &.hover {
    padding-right: 16px;
  }
  &.nohover {
    padding-left: 16px;
  }
}

.drawer {
  height: 0;
  width: 100%;
  transition: height ease-in-out $hover-tx;
  overflow: hidden;
  margin-top: 8px;
  padding: 0;

  .labelWrapper {
    padding: 0;
  }

  .labelContainer {
    height: 40px;
    width: calc(100% - 20px);
    padding: 0;
  }

  &.hover {
    height: 40px;
    overflow: visible;
  }
}